.miniatureOptions {
  width: 15vmin;
  height: 15vmin;
  margin-bottom: 2%;
  margin-right: 13%;
}
.circleOptions {
  width: 11vmin;
  height: 11vmin;
  border-radius: 50%;
  background-color: #1288a3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circleInsideOptions {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}
.containerOption {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  margin-top: 3%;
  width: 40%;
  min-height: 70px;
  height: 15vmin;
  box-sizing: border-box;
}
.optionContent {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.buttonsContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}
.menuExpandableOptions {
  margin-left: -5%;
}
