#opinions {
  margin-bottom: 17%;
}
#linkToWebsite {
  font-size: 10px;
  margin-left: 55%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 120px;
}
#text {
  margin-left: -13%;
  margin-bottom: 2%;
}
#button {
  float: left;
}
#filtr {
  margin-top: 2%;
  margin-left: 5%;
  float: left;
}

.containerOfOpinion {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  width: 80%;
  min-height: 70px;
  box-sizing: border-box;
}
